---
import GitHubIcon from "./icons/GitHub.astro";
import WebSiteIcon from "./icons/WebSite.astro";
import JS from "./icons/tech/js.astro";
import CSS from "./icons/tech/css.astro";
import HTML from "./icons/tech/html.astro";
import Python from "./icons/tech/python.astro";
import Django from "./icons/tech/django.astro";
import React from "./icons/tech/react.astro";
import Tailwind from "./icons/tech/tailwind.astro";
import Bootstrap from "./icons/tech/bootstrap.astro";
import Postgresql from "./icons/tech/postgresql.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-red-400 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: HTML
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-500 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: CSS
    },
    JS: {
        name: "JavaScript",
        class: "bg-yellow-300 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: JS,
    },
    Python: {
        name: "Python",
        class: "bg-yellow-600 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: Python,
    },
    Django: {
        name: "Django",
        class: "bg-green-400 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: Django,
    },
    React: {
        name: "React.JS",
        class: "bg-blue-500 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: React,
    },
    Tailwind: {
        name: "Tailwind",
        class: "bg-blue-900 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: Tailwind,
    },
    Bootstrap: {
        name: "Bootstrap",
        class: "bg-purple-500 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: Bootstrap,
    },
    Postgresql: {
        name: "PostgreSQL",
        class: "bg-blue-500 text-white font-medium px-2.5 py-0.5 rounded-full",
        icon: Postgresql,
    }
};

let projects = [
    {
        title: "Aplicación web para el registro de mascotas.",
        description: "Este proyecto fue desarrollado como mi Trabajo Final de Grado. Utilicé Django como framework de desarrollo y PostgreSQL como base de datos. La aplicación permite el registro de mascotas, vacunaciones, consultas y tratamientos. Además, consta de apis desarrolladas con Django Rest Framework para la comunicación con una aplicación móvil desarrollada en Flutter. Obs.: utilicé un servicio de deploy gratuito para la aplicación web, por lo que puede tardar unos segundos en cargar la página. Credenciales: usuario: admin, contraseña: admin123.",
        image: "/projects/tesis.png",
        link1: "https://github.com/MardoqueoZ/tfg_admin",
        link2: "https://tfg-admin.onrender.com",
        tags: [TAGS.Python, TAGS.Django, TAGS.Bootstrap, TAGS.Postgresql]
    },
    
    {
        title: "Fan Page de Harry Potter",
        description: "Pequeña Fan Page de la Saga Harry Potter que muestra información básica sobre la saga y la autora. De la misma forma, se tiene una pestaña con los personajes principales, obtenidos al consumir una api usando await fetch en React.js. Cabe destacar que la página fue desarrollada con React, implementando rutas y cambios de idioma entre el Español y el Inglés.",
        image: "/projects/harryPotter.webp",
        link1: "https://github.com/MardoqueoZ/react-hpotter",
        link2: "https://hp-fanpage.netlify.app/",
        tags: [TAGS.React, TAGS.Tailwind]
    },
    
    {
        title: "Calculadora Basal",
        description: "Pequeña interfaz que permite el cálculo de la Tasa metabólica Basal. Que es la cantidad mínima de energía que necesita tu cuerpo para sobrevivir realizando las funciones básicas, tales como respirar, parpadear, filtrar la sangre, regular la temperatura del cuerpo o sintetizar hormonas.",
        image: "/projects/CalculadoraBasal.jpg",
        link1: "https://github.com/MardoqueoZ/Calculadora-Basal",
        link2: "https://mardoqueoz.github.io/Calculadora-Basal/",
        tags: [TAGS.JS, TAGS.CSS, TAGS.HTML]
    },

];
---

{projects.map(project => (
    <div class="flex flex-col md:flex-row items-start dark:bg-gray-800 bg-gray-100 p-6 rounded-2xl shadow-lg hover:shadow-xl transition-all duration-500 mb-6 transform hover:scale-105">
        
        {/* Contenedor de la imagen con altura completa */}
        <div class="relative w-full md:w-1/2 max-w-sm rounded-2xl overflow-hidden h-full">
            {/* Imagen ajustada para cubrir todo el contenedor */}
            <img class="w-full h-72 object-cover rounded-lg hover:scale-105 transform transition-transform duration-300" src={project.image} alt={project.title} />
            
            {/* Botones sobre la imagen */}
            <div class="absolute inset-0 flex items-center justify-center gap-4 opacity-0 hover:opacity-100 transition-opacity duration-300 bg-white dark:bg-black bg-opacity-50 dark:bg-opacity-50">
                <a href={project.link1} title="GitHub" class="flex flex-col items-center text-black dark:text-white dark:hover:text-gray-400 hover:text-gray-800 transition-colors duration-200" target="_blank">
                    <GitHubIcon class="w-8 h-8 hover:scale-110 transition-transform duration-300"/>
                    <span class="text-sm text-black dark:text-white mt-1">GitHub</span>
                </a>
                
                <a href={project.link2} title="Website" class="flex flex-col items-center text-black dark:text-white dark:hover:text-gray-400 hover:text-gray-800 transition-colors duration-200" target="_blank">
                    <WebSiteIcon class="w-8 h-8 hover:scale-110 transition-transform duration-300"/>
                    <span class="text-sm text-black dark:text-white mt-1">Web</span>
                </a>
            </div>
        </div>
        
        <div class="md:ml-6 mt-4 md:mt-0 flex-1">
            <h2 class="text-2xl md:text-4xl font-semibold text-black dark:text-white mb-3">{project.title}</h2>
            <p class="text-lg text-black dark:text-white line-clamp-2 md:line-clamp-none hover:line-clamp-none transition-all duration-300">{project.description}</p>
            
            <div class="flex flex-wrap mt-2  justify-center md:justify-start">
                <ul class="flex flex-row mb-2 gap-x-2">
                    {project.tags.map(tag => (
                        <li >
                            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                <tag.icon class="size-4" />
                                {tag.name}
                            </span>
                            
                        </li>
                    ))}
                </ul>
            </div>

        </div>
    </div>
))}
